/* colores de los textos */
:root {
    --clr-main: #ff8fab;
    --clr-main-light: #FFB6C1;
    --clr-back: #fbe3e6;
    --clr-white: #ececec;
    --clr-gray: #bebbbb;
    --clr-red: #c9184a;

    --primary-100: #ff99ac;
    --primary-200: #df7c8f;
    --primary-300: #d9778b;
    --accent-100: #FFA3B1;
    --accent-200: #974555;
    --text-100: #af8585;
    --text-200: #926a6a;
    --bg-100: #FCEFF0;
    --bg-200: #f2e5e6;
    --bg-300: #c9bdbe;

    --texto: #633030;

    --texto-rosa: #de638e;
}


body {
    background-color: #161a1d;
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    min-width: 100vh;


    
  }


 footer {
    background-color: #000000;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    background-color: #FF4081;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    bottom: 0%;
}

.carousel-caption {
    color: #ffffff;
    font-weight: 800;
    font-weight: bold;
   /* background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco semi-transparente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra con desplazamiento X e Y y color */
}



/* Estilo de la barra de navegación */
nav {
    background-color:#D63637;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.degradado{
    background: linear-gradient(90deg, #FF4081, #FFE6F0);
    background-size: 400% 400%;
    animation: anim 5s infinite ease-in-out;
    /* text-align: center;  mueve la imagen y ne queda centrado en ladpage*/

}

@keyframes anim{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.button_pink {
    background-color: #eeeeee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: #947878;
    /* box-shadow: 0 0.4rem #dfd9d9; */
    cursor: pointer;
    
   }
   
   .button_pink:active {
    color: #947878;
    /* box-shadow: 0 0.2rem #dfd9d9; */
    transform: translateY(0.2rem);
   }
   
   .button_pink:hover:not(:disabled) {
    background: #FFE6F0;
    color: #947878;
    /* text-shadow: 0 0.1rem #bcb4b4; */
   }
   
   .button_pinkn:disabled {
    cursor: auto;
    color: grey;
   }

   .form-control {
    border-color: #de638e !important; /* Usa !important para asegurarte de que el estilo se aplique */
    box-shadow: #FF4081 !important; /* Elimina la sombra al enfocar */
}

/* Para los registros de usuarios */
.contenedor-forms{

background-color: white;
padding: 20px;
width: 60%;
height: 80%;
border-radius: 55px;
border: 5px solid #de638e;


}

.contenedor_derecho{
    position: fixed;
    margin-right: 0;
    margin-left: 0;
    top: 30%;
    right: 10px;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: 80%; /* Opcional: Hazlo del mismo alto que la ventana */
    /*background-color: #f0f0f0;  Color de fondo opcional */
    
}

/* Pagina de productos (inicio) */

.img_producto{
    border-radius: 50%;
    object-fit: cover;
    width: 80%;
    height: 80%;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.product-circle {
    width: 150px; /* Tamaño fijo para el círculo */
    height: 150px; /* Tamaño fijo para el círculo */
    background-color: white;
    border-radius: 20%;
    display: inline-block;
    /* margin: 10px; */
    /* text-align: center; */
    /* font-size: 18px; */
    /* color: #fff; */
    overflow: hidden; /* Evita que la imagen se desborde del círculo */
}

.fila_ventas{
margin: 3%;
/* background-color: #de638e; */
border-radius: 5%;
}

.titulo{
    text-align: center;
    
}


/* Estilo para la ágina de usuario */
.info-bar {
    width:fit-content;
  
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center;
    background-color: #f2f2f2; 
    /* el texto de p que esta al lado de nombre d u tambien  */
    border-radius: 20px;
}

/* Estilo para la columna de datos */
.data-column {
    width: fit-content;
    padding: 20px;
    background-color: #f2f2f2;
    margin: auto;
    border-radius: 20px;
}

/* Estilo para dar espacio entre la barra de información y la columna de datos */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilos adicionales para hacer la barra de información más atractiva */
.info-bar h2 {
    font-size: 24px;
    color: #333;
}

.info-bar p {
    font-size: 16px;
    color: #555;
}

.info-bar ul {
    list-style-type: square;
}

.data-column h1 {
    font-size: 24px;
    color: #333;
}

.data-column p {
    font-size: 16px;
    color: #555;
}

.img_usuario{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #de638e;
}

table{
    margin:auto;
}

td {
    text-align: center;
  }

  th {
    text-align: center;
  }

  .carousel-inner img {
    max-width: 100%;
    height: auto;
  }
  